################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Phongs-Balls/bin
/Phongs-Balls/obj
